<h1>Upload</h1>

<%= form_for @document, :url => document_path, :html => { :multipart => true } do |form| %>
	<p>
		<b>Name</b></br>
		<%= form.text_field :name, :class => 'input-large' %>
	</p>
	<p>
		<b>Description</b></br>
		<%= form.text_field :description, :class => 'input-large' %>
	</p>
	<p>
		<b>Description</b></br>
		<%= form.file_field :upload %>
	</p>
	</br>
	<%= form.submit 'Upload', :class => 'btn btn-primary' %>

<% end %>

